/* CSS Reset */
body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* Fim CSS Reset */

body {
    min-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient(circle at 50% -20.71%, #e6f58f 0, #e9eb7f 10%, #ecdf6e 20%, #efd25d 30%, #f1c44d 40%, #f2b53c 50%, #f3a52d 60%, #f59522 70%, #f8851d 80%, #fa741e 90%, #fc6324 100%);
}

.login {
    display: flex;
    max-width: 1000px;
    background: #fff;
    border-radius: 25px;
}

.login_col-1 {
    flex: 1 1 150px;

}

.login_col-1 img {
    width: 500px;
    padding: 10px;
}

.login_col-2 {
    flex: 1 1 150px;
    background: #f5f6fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 50px 25px 25px 50px;
}

.login_col-2 img {
    max-width: 180px;
    margin-bottom: 20px;
}

.login_col-2 input {
    width: 80%;
    height: 40px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login_col-2 input[type=email],
.login_col-2 input[type=password] {
    padding-left: 6px;
}

.login_col-2 input[type=submit] {
    background: #407BFF;
    color: #ffffff;
    cursor: pointer;
}


@media (max-width: 739px) {
    .login {
        flex-direction: column;
        max-width: 380px;
        margin: 0 10px;
    }

    .login_col-2 {
        padding: 40px 0;
        border-radius: 50px 50px 25px 25px;
    }

    input {
        text-align: center;
    }
}

/*Rodapé*/

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: wrap;
}

.social-icons img {
    max-width: 32px;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.rodape>a {
    color: #f6f6f6;
    font-size: 0.85em;
}