/* Titulo e paragrafo */

.s-obg__container {
    max-width: 1140px;
    margin: 30px auto;
    padding: 40px 20px;
    background: #ffffff;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media (max-width: 739px) {
    .s-obg__container {
        margin: 30px 10px;
    }
}

.s-obg__container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: 'Kalam', cursive;
    font-weight: 600;
}

.s-obg__container p {
    text-align: center;
    max-width: 800px;
    margin-bottom: 20px;
}

.s-obg__container--item {
    flex: 1;
    margin: 10px;
}

.s-obg__container--item iframe {
    display: block;
    max-width: 100%;
    border-radius: 25px;
}